@import 'variables/global';
@import 'reset';

@font-face {
  font-family: 'Jost';
  src: url('../../shared/assets/fonts/Jost-Regular.ttf') format('ttf');
}

body {
  font-family: 'Jost';
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
