@import '../../app/styles/mixins/mixins.scss';

.service {
  padding: 100px 0;
}

.heading {
  @include text-style(
    var(--font-family),
    600,
    50px,
    160%,
    var(--main-color),
    false
  );
  margin-bottom: 60px;

  @include tablet {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
}

.item {
  @include flex(true, false, false);
  height: 500px;
  padding: 20px 0;
  grid-column: 4 span;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;

  @include big-desktop {
    grid-column: 3 span;
  }

  @include tablet {
    grid-column: 4 span;
  }

  @include small-tablet {
    grid-column: 2/6 span;
    height: 460px;
    padding: 0;
  }

  @include mobile {
    grid-column: 4 span;
  }

  &:hover {
    background-color: var(--main-color);

    .content {
      color: var(--light-color);
      border-color: rgba(255, 255, 255, 0.5);
    }

    .title,
    .price,
    .descr {
      color: var(--light-color);
    }
  }
}

.card {
  width: 100%;
  height: 460px;
  @include flex(false, true, false);
  flex-direction: column;
  transition: height 0.3s ease-in-out;

  &:hover {
    height: 500px;

    @include tablet {
      height: 100%;
    }
  }
}

.content {
  height: 100%;
  padding: 40px;
  @include flex(false, true, false);
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid rgba(20, 16, 36, 0.2);
  color: var(--main-color);
  text-align: center;
  transition:
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &:hover {
    color: var(--light-color);
    border-color: rgba(255, 255, 255, 0.5);
  }
}

.title {
  @include text-style(var(--font-family), 600, 30px, 160%, var(--main-color));
  transition: margin-bottom 0.3s ease-in-out;
}

.price {
  @include text-style(var(--font-family), 600, 50px, 160%, var(--main-color));
}

.descr {
  @include text-style(var(--font-family), 400, 18px, 160%, var(--main-color));
  transition: color 0.3s ease-in-out;

  @include tablet {
    font-size: 16px;
  }
}

.btn {
  max-width: 280px;
  height: 79px;
  padding: 25px 54px;
  background-color: var(--red-color);
  border-radius: 5px;
  @include text-style(var(--font-family), 400, 18px, 160%, var(--light-color));

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  @include tablet {
    max-width: 300px;
    font-size: 16px;
    line-height: 25.6px;
    padding: 25px 15px;
  }
}
