@import '../../app/styles/mixins/mixins.scss';

.form {
  background-color: var(--red-color);
  background-image: url(../../shared/assets/img/percents.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}

.formContainer {
  padding: 87px 60px;

  @include mobile {
    padding: 40px 0;
  }
}

.text {
  grid-column: 6 span;
  color: var(--light-color);

  @include big-desktop {
    grid-column: 5 span;
  }

  @include tablet {
    grid-column: 4 span;
  }

  @include small-tablet {
    grid-column: 2/6 span;
  }

  @include mobile {
    grid-column: 4 span;
  }
}

.title {
  @include text-style(
    var(--font-family),
    600,
    36px,
    46.8px,
    var(--light-color),
    false
  );
  margin-bottom: 20px;

  @include tablet {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    padding-bottom: 10px;
  }
}

.descr {
  @include text-style(
    var(--font-family),
    400,
    20px,
    26px,
    var(--light-color),
    false
  );

  @include tablet {
    font-size: 16px;
    line-height: 25.6px;
    padding: 0 35px;
    text-align: center;
  }
}

.forms {
  grid-column: 7 / 6 span;
  display: flex;
  flex-direction: column;

  @include big-desktop {
    grid-column: 5 span;
  }

  @include tablet {
    grid-column: 4 span;
  }

  @include small-tablet {
    grid-column: 2/6 span;
  }

  @include mobile {
    grid-column: 4 span;
    padding: 0 10px;
  }
}

.label {
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 20px;
  @include text-style(
    var(--font-family),
    400,
    18px,
    160%,
    rgba(40, 41, 68, 0.7),
    false
  );
  border-radius: 5px;
  border-color: transparent;
  background: var(--light-color);
}

.btn {
  padding: 20px;
  @include text-style(
    var(--font-family),
    400,
    18px,
    160%,
    var(--light-color),
    false
  );
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  @include mobile {
    font-size: 16px;
  }
}
