@import '../../app//styles/mixins/mixins.scss';

.hero {
  background-color: var(--main-color);
}

.left {
  grid-column: 6 span;
  place-self: center;
}

.title {
  @include text-style(var(--font-family), 600, 70px, 160%, var(--light-color));
  text-transform: uppercase;
}

.descr {
  margin-top: 20px;
  @include text-style(var(--font-family), 400, 20px, 160%, var(--light-color));
}

.btn {
  margin-top: 50px;
  border: 0;
  border-radius: 5px;
  padding: 25px 54px;
  background: var(--red-color);
  @include text-style(var(--font-family), 400, 18px, 160%, var(--light-color));
  text-align: center;
  transition:
    background 0.1s ease-in-out,
    transform 0.1s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    background: var(--light-color);
    color: var(--red-color);
    transform: scale(0.98);
  }
}

.right {
  grid-column: 6 span;
  img {
    position: relative;
    left: 60px;
    height: auto;
    @include img-style();
  }
}
