@import '../../app/styles/mixins/mixins.scss';

.about {
  padding: 120px 0;

  @include tablet {
    padding: 60px 0;
  }
}

.AboutDiv {
  row-gap: 60px;
}

.heading {
  grid-column: 9 span;
  @include text-style(
    var(--font-family),
    400,
    30px,
    160%,
    var(--main-color),
    false
  );

  @include big-desktop {
    grid-column: 10 span;
  }

  @include tablet {
    grid-column: 8 span;
    font-size: 20px;
    line-height: 32px;
  }

  @include mobile {
    grid-column: 4 span;
  }

  span {
    font-weight: 600;
  }
}

.statsList {
  grid-column: 12 span;

  @include big-desktop {
    grid-column: 10 span;
    text-align: center;
  }

  @include tablet {
    grid-column: 8 span;
  }

  @include mobile {
    grid-column: 4 span;
  }

  div {
    grid-column: 3 span;

    @include big-desktop {
      grid-column: 5 span;
    }

    @include tablet {
      grid-column: 4 span;
    }
  }
}

.title {
  @include text-style(
    var(--font-family),
    600,
    70px,
    160%,
    var(--red-color),
    false
  );

  @include tablet {
    font-size: 60px;
  }
}

.descr {
  @include text-style(
    var(--font-family),
    400,
    18px,
    160%,
    var(--main-color-dark),
    false
  );

  @include mobile {
    font-size: 16px;
    line-height: 25.6px;
  }
}
