@import '../../app/styles/mixins/mixins.scss';

.footer {
  background-color: var(--main-color);
  padding: 25px 0 40px;

  @include mobile {
    padding: 40px 0 20px 0;
  }
}

.container {
  max-width: 1720px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mobile {
    align-items: center;
  }
}

.info {
  width: 100%;
  @include flex(true, true, false);
  padding-top: 15px;
  gap: 5px;

  @include mobile {
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.name {
  @include text-style(
    var(--font-family),
    700,
    30px,
    160%,
    var(--light-color),
    false
  );
  text-transform: uppercase;
}

.number {
  @include text-style(
    var(--font-family),
    600,
    30px,
    48px,
    var(--light-color),
    false
  );
  text-align: right;
}

.descr {
  @include text-style(
    var(--font-family),
    400,
    16px,
    25.6px,
    rgba(255, 255, 255, 0.7),
    false
  );
}
