@import '../../app/styles/mixins/mixins.scss';

.coach {
  position: relative;
  padding: 120px 0 40px 0;
}

.Div {
  position: relative;
}

.heading {
  grid-column: 12 span;
  margin-bottom: 50px;
  @include text-style(
    var(--font-family),
    600,
    50px,
    160%,
    var(--main-color),
    false
  );
}

.content {
  grid-column: 12 span;
}

.navBtns {
  display: flex;
  justify-content: end;
  grid-column: 11 / 2 span;
  grid-row: 3 span;
  gap: 10px;
}

.prevButton,
.nextButton {
  background: none;
}

.prevButton {
  left: -100px;
}

.scrollbar {
  margin-bottom: 35px;
}