@import '../../app/styles/mixins/mixins.scss';

.perspective {
  padding: 120px 0;
  background-color: var(--grey-color);
}

.PersDiv {
  display: flex;
  flex-direction: column;
}

.heading {
  @include text-style(
    var(--font-family),
    600,
    50px,
    160%,
    var(--main-color),
    false
  );
  margin-bottom: 60px;
}

.persList {
  div {
    grid-column: 4 span;
  }
}

.title {
  @include text-style(
    var(--font-family),
    600,
    24px,
    160%,
    var(--main-color),
    false
  );
  margin-bottom: 20px;
}

.descr {
  @include text-style(
    vr(--font-family),
    400,
    18px,
    160%,
    var(--main-color-dark),
    false
  );
}

.tooltip {
  position: relative;

  button {
    margin-left: 10px;
  }

  span {
    width: 260px;
    padding: 15px 20px;
    position: absolute;
    left: 10px;
    bottom: 45px;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(20, 16, 36, 0.1);
    background: var(--light-color);
    @include text-style(var(--font-family), 400, 16px, 160%, var(--main-color));
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0s,
      opacity 0.5s ease;
  }

  &:hover span {
    visibility: visible;
    opacity: 1;
  }
}
